

#addCryptoForm {
  height: 600px;
  width: 600px;
  background-color: powderblue;
  border: 2px solid blue;
  border-radius: 4px;
}

#formHeader {
  background-color: powderblue;
  color: black;
  padding-top: 0px;
  padding-left: 10px;
  text-align: left;
}

#pageHeader {
  background-color: powderblue;
  color: black;
  padding-top: 0px;
  padding-left: 10px;
  text-align: left;
}



#customerDiv {
  padding-left: 10px;
}

#walletDiv {
  padding-left: 10px;
  padding-top: 10px;
}

#cryptoNameDiv {
  padding-left: 10px;
  padding-top: 10px;
}

#cryptoDescriptionDiv {
  padding-left: 10px;
  padding-top: 10px;
}

#cryptoAmountDiv {
  padding-left: 10px;
  padding-top: 10px;
}

#buttonDiv {
  padding-left: 10px;
  padding-top: 10px;
}

#availableCryptosForm {
  height: 300px;
  width: 600px;
  background-color: powderblue;
  border: 2px solid blue;
  border-radius: 4px;
}

#availableCryptosHeader {
  background-color: powderblue;
  color: black;
  padding-top: 0px;
  padding-left: 10px;
  text-align: left;
}

#tableDiv {
  height: 220px;
  width: 600px;
}

#cryptosTableForm {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
  margin-left:auto;
  margin-right:auto;
}

td, th {
  border: 1px solid blue;
  text-align: left;
  padding: 8px;
}

