
#loginForm {
  height: 200px;
  width: 50%;
  background-color: powderblue;
  border: 2px solid blue;
  border-radius: 4px;
}

#formHeader {
  background-color: powderblue;
  color: black;
  padding-top: 0px;
  padding-left: 10px;
  text-align: left;
}

#pageHeader {
  background-color: powderblue;
  color: black;
  padding-top: 0px;
  padding-left: 10px;
  text-align: left;
}

#labelCustomer {
  background-color: powderblue;
  color: black;
  padding-left: 10px;
  text-align: left;
}

#createDiv {
  padding-left: 10px;
  padding-top: 10px;
}

